.game {
  display: flex;
  flex: 1;
}

.game__sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.game__actions {
  padding: 1rem;
}

.game__start,
.game__end,
.game__join {
  @extend %button;
}

.game__body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 4;
}
