.game {
  display: flex;
  flex: 1;
}

.game__sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

%game__button {
  @include button;
  font-size: 1.6rem;
}

.game__start {
  @extend %game__button;
}

.game__join {
  @extend %game__button;
}

.game__body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 4;
}
