.draw {
}

.draw__heading {
  @include heading;
}

.draw__card {
  @include card;
  background-color: $disabled-background;
  transition: background-color .1s;

  .draw--activated & {
    cursor: pointer;
    background-color: $racko-secondary;
  }
}

.draw__card__logo {
  margin: auto;
  text-align: center;
  font-family: 'Contrail One';
  font-size: 4rem;
  color: $disabled-text;

  .draw--activated & {
    color: lighten($racko-secondary, 30%);
  }
}
