.scoreboard {
}

.scoreboard__heading {
  margin: 0;
  margin-bottom: 1rem;
}

.scoreboard__table {
  border-collapse: collapse;
}

%cell {
  text-align: left;

  &:last-child {
    text-align: right;
  }

  &:not(:first-child) {
    padding-left: 1rem;
  }

  &:not(:last-child) {
    padding-right: 1rem;
  }
}

%cell--stacked {
  padding-bottom: .6rem;
  border-bottom: 1px solid #ddd;
}

.scoreboard__label {
  @extend %cell;
  @extend %cell--stacked;
}

.scoreboard__value {
  @extend %cell;
  font-size: 1.2rem;

  .scoreboard__row & {
    padding-top: .6rem;
  }

  .scoreboard__row:not(:last-child) & {
    @extend %cell--stacked;
  }
}

.scoreboard__value--total {
  font-weight: bold;
}
