.root {
  composes: card from '../../shared/card.css';
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  text-align: center;
  font-family: 'Contrail One';
  font-size: 2rem;
  color: red;
}

.bottom {
  transform: rotate(180deg);
}

.number {
  display: block;
  text-align: right;
  font-weight: bold;
  font-size: 1.6rem;
}
