.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0081ff;
  color: #fff;
}

.heading {
  margin: 0;
  font-size: 1.4rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
