.root {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.start,
.join {
  composes: default from './shared/button.css';
  font-size: 1.6rem;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 4;
}
